navbar

#wrap
  .container-fluid
    section#dashboard
      .container-fluid

        #widgets.row
          .col-md-6

            .widget.widget-left
              .inner
                header
                  h2 API Keys
                section
                  form(role='form')
                  .form-group
                    label(for='accountID') Account ID
                    input#publicKey.form-control(type='text',
                    ng-model='user.id')
                  .form-group
                    label(for='userKey') Your key
                    input#userKey.form-control(type='text',
                    ng-model='user.refreshToken')
                    .help-block Please do not share your private key with other people.


            .widget.widget-left
              .inner
                header
                  h2 Debugger
                section
                  p(ng-hide='logs') Loading logs..
                  article(ng-show='logs')
                    p
                      | There are&nbsp;
                      strong {{(logs | dashboardLogs).length}}
                      |  SEVERE logs.

                    div#accordion.panel-group
                      div.panel.panel-default(ng-repeat='log in (logs | dashboardLogs)')
                        div.panel-heading
                          h4.panel-title
                            a(data-toggle='collapse',
                            data-parent='#accordion',
                            href='#collapse-{{log.logId}}')
                              | {{log.timestamp | parseTimeStamp}} - {{log | translateAdapterType}}
                        div.panel-collapse.collapse(id='collapse-{{log.logId}}',
                        class='{{($first) && "in"}}')
                          div.panel-body
                            | {{log.message}}


          .col-md-6
            .widget.widget-right
              .inner
                header
                  h2 API Docs
                section
                  h4 Ask Fast API:
                  p.
                    Host you own questions an answers- high customization,
                  a.btn.btn-default(
                  href='http://docs.askfast.apiary.io/',
                  target='_blank') Ask Fast API
                  hr
                  h4 Ask Fast Marketplace
                  p.
                    We host your questions and answers,
                    very easy to use and integrate
                  a.btn.btn-default(
                  href='http://docs.askfastmarketplace.apiary.io/',
                  target='_blank') Ask Fast Marketplace