navbar

#wrap
  .container-fluid
    section#developer
      .container-fluid

        #sub-header.row
          .col-md-12
            ul.list-inline
              li: a(ng-click='setSection("extensions")', href='') Extensions
              li: a(ng-click='setSection("dialogs")', href='') Dialogs
              li: a(ng-click='setSection("debugger")', href='') Debugger
              li: a(ng-click='setSection("analysis")', href='') Analysis

        #toolbar.row
          .col-md-3
            form(role='form')
              .form-group
                .input-group
                  input#privateKey.form-control(type='text',
                  placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Search
          .col-md-9.text-right
            button.btn.btn-default(type='button',
            ng-click='setSection("addDialog")',
            ng-show='(current=="dialogs")') Add a dialog

        section(ng-switch='', on='current')

          #widgets.row(ng-switch-when='extensions')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Extensions
                    span Extensions management
                  section
                    table.table.table-bordered.table-hover(style='background-color: white')
                      thead
                        tr
                          th Extensions
                          th Type
                          th Usage
                          th Actions
                      tbody
                        tr(ng-repeat='extension in extensions')
                          th {{extension.value}}
                          th {{types[extension.type]}}
                          th -
                          th: a(href='') Remove

          #widgets.row(ng-switch-when='addDialog')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Add a new dialog
                  section
                    form(role='form',
                    ng-submit='Dialog.add(dialog)')
                      .form-group
                        .input-group
                          input.form-control(type='text',
                          ng-model='dialog.form.name',
                          placeholder='Dialog name')
                      .form-group
                        .input-group
                          input.form-control(type='text',
                          ng-model='dialog.form.url',
                          placeholder='URL for dialog')
                      button.btn.btn-default(type='submit') Add a dialog
                      a(ng-click='setSection("dialogs")', href='') &nbsp; or go back to the list.

          #widgets.row(ng-switch-when='dialogs')
            .col-md-3
              .widget.widget-left
                .inner
                  header
                    h2 Dialogs
                    // span You have 1 online, 2 offline dialogs
                  section
                    p(ng-show='dialogs.length < 1')
                      | There are no dialogs yet. Please add one.
                    ul(ng-hide='dialogs.length < 1')
                      li(ng-repeat='dialog in dialogs')
                        a(ng-click='Dialog.open(dialog)', href='') {{dialog.name}}
                        | &nbsp;(online)&nbsp;
                        a(ng-click='Dialog.remove(dialog)', href='') remove
              .widget.widget-left(ng-show='false')
                .inner
                  header
                    h2 Dialogs in Market
                    span 2 dialogs are online.
                  section
                    ul
                      li
                        a(href='') Broadcast
                        | &nbsp;(online)&nbsp;
                        a(href='') settings
                      li
                        a(href='') Oneline
                        | &nbsp;(online)&nbsp;
                        a(href='') settings
            .col-md-9(ng-show='dialog')
              .widget.widget-right
                .inner
                  header
                    h2 {{dialog.name}}
                    span {{dialog.url}}
                  section
                    h5 State
                    ul.list-inline
                      li
                        input#onState(name='state',
                        type='radio')
                        label(for='onState') &nbsp;On
                      li
                        input#offState(name='state',
                        type='radio')
                        label(for='offState') &nbsp;Off
                    form.form-inline(role='form')
                      .form-group
                        h5 Type
                        select.form-control(ng-model='channel.type',
                        ng-change='channelTypeSelected()')
                          option(ng-repeat='type in types',
                          value='{{$index}}') {{type}}
                        span.help-block Please select a type first
                      .form-group(style='margin-left: 15px', ng-hide='(channel.type == null)')
                        h5 Extension
                        select.form-control(ng-model='channel.extension')
                          option(ng-repeat='candidate in candidates',
                          value='{{candidate.id}}') {{candidate.value}}
                        span.help-block Select the extension
                      .form-group(style='margin-left: 15px')
                        button.btn.btn-default(type='submit',
                        style='margin-top: 3px') Add a new channel
                    h5 Channels
                    p You have no channels configured for this dialog yet.

          #widgets.row(ng-switch-when='debugger')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Debugger
                    span Debugger management
                  section
                    p Debugger console

          #widgets.row(ng-switch-when='analysis')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Analysis
                    span Analysis
                  section
                    p Analysis console