navbar

#wrap
  .container-fluid
    section#developer
      .container-fluid

        #sub-header.row
          .col-md-12
            ul.list-inline
              li: a(ng-click='setSection("extensions")', href='') Extensions
              li: a(ng-click='setSection("dialogs")', href='') Dialogs
              li: a(ng-click='setSection("debugger")', href='') Debugger
              li: a(ng-click='setSection("analysis")', href='') Analysis

        #toolbar.row
          .col-md-3
            form(role='form')
              .form-group
                .input-group
                  input#privateKey.form-control(type='text',
                  placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Search
          .col-md-9.text-right
            button.btn.btn-default(type='button',
            ng-show='(current=="dialogs")') Add a dialog

        section(ng-switch='', on='current')

          #widgets.row(ng-switch-when='extensions')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Extensions
                    span Extensions management
                  section
                    table.table.table-bordered.table-hover(style='background-color: white')
                      thead
                        tr
                          th Extensions
                          th Type
                          th Usage
                          th Actions
                      tbody
                        tr(ng-repeat='extension in extensions')
                          th {{extension.value}}
                          th {{types[extension.type]}}
                          th -
                          th: a(href='') Remove

          #widgets.row(ng-switch-when='dialogs')

            .col-md-3
              .widget.widget-left
                .inner
                  header
                    h2 External Dialogs
                    span You have 1 online, 2 offline dialogs
                  section
                    ul
                      li
                        a(href='') Cow Registration Dialog
                        | &nbsp;(online)&nbsp;
                        a(href='') settings
                      li
                        a(href='') Sheep Registration Dialog
                        | &nbsp;(offline)&nbsp;
                        a(href='') settings
                      li
                        a(href='') Chicken Registration Dialog
                        | &nbsp;(offline)&nbsp;
                        a(href='') settings

              .widget.widget-left
                .inner
                  header
                    h2 Dialogs in Market
                    span 2 dialogs are online.
                  section
                    ul
                      li
                        a(href='') Broadcast
                        | &nbsp;(online)&nbsp;
                        a(href='') settings
                      li
                        a(href='') Oneline
                        | &nbsp;(online)&nbsp;
                        a(href='') settings

            .col-md-9
              .widget.widget-right
                .inner
                  header
                    h2 Cow Registration Dialog
                    span Cow registration flow for Netherlands government.
                  section
                    h4 Dialog state
                    ul.list-inline
                      li
                        input#onState(name='state',
                        type='radio')
                        label(for='onState') &nbsp;On
                      li
                        input#offState(name='state',
                        type='radio')
                        label(for='offState') &nbsp;Off
                    form.form-inline(role='form')
                      p candidates -> {{channel}}

                      .form-group
                        h5 Type
                        select.form-control(ng-model='channel.type',
                        ng-change='channelTypeSelected()')
                          option(ng-repeat='type in types',
                          value='{{$index}}') {{type}}
                        span.help-block Please select a type first

                      .form-group(style='margin-left: 15px', ng-hide='(channel.type == null)')
                        h5 Extension
                        select.form-control(ng-model='channel.extension')
                          option(ng-repeat='candidate in candidates',
                          value='{{candidate.id}}') {{candidate.value}}
                        span.help-block Select the extension

                      .form-group(style='margin-left: 15px')
                        button.btn.btn-default(type='submit',
                        style='margin-top: 3px') Add a new channel

                    hr
                    h4 Channels
                    p You have no channels configured for this dialog yet.

          #widgets.row(ng-switch-when='debugger')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Debugger
                    span Debugger management
                  section
                    p Debugger console

          #widgets.row(ng-switch-when='analysis')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Analysis
                    span Analysis
                  section
                    p Analysis console