navbar

#wrap
  .container-fluid
    section#developer
      .container-fluid
        #sub-header.row
          .col-md-12
            ul.list-inline
              li: a(ng-click='setSection("adapters")') Adapters
              li: a(ng-click='setSection("dialogs")') Dialogs
              li: a(ng-click='setSection("debugger")') Debugger
        #toolbar.row
          .col-md-10
          .col-md-2.text-right





        section(ng-switch='', on='current')




          #widgets.row(ng-switch-when='adapters')
            .col-md-12
              .widget
                .inner
                  header
                    h2 Adapters
                    select.form-control(ng-model='adapterType',
                    ng-change='Adapter.query(adapterType)')
                      option(value='', selected) Add a new adapter
                      option(value='email') Email
                      option(value='broadsoft') Phone
                      option(value='sms') SMS
                      option(value='xmpp') Gtalk
                      option(value='twitter') Twitter
                  section
                    article(ng-show='adapterType')
                      h3 Available adapters
                      p(ng-hide='freeAdapters.length > 0')
                        | There are not any available adapter for this type.
                      table.table.table-bordered.table-hover(ng-show='freeAdapters.length > 0')
                        thead
                          tr
                            th Adapter
                            th Type
                            th Actions
                        tbody
                          tr(ng-repeat='adapter in freeAdapters')
                            td {{adapter | translateAdapterAddress}}
                            td {{adapter | translateAdapterType}}
                            td
                              button.btn.btn-default.btn-sm(ng-click='Adapter.add(adapter)')
                                | Add to your account
                      hr
                    h3 Your adapters
                    p(ng-hide='adapters.length > 0')
                      | There are not any adapters for your account.
                    table.table.table-bordered.table-hover(ng-show='adapters.length > 0')
                      thead
                        tr
                          th ID
                          th Adapter
                          th Type
                          //th Usage
                          th Actions
                      tbody
                        tr(ng-repeat='adapter in adapters')
                          td {{adapter.configId}}
                          td {{adapter | translateAdapterAddress}}
                          td {{adapter | translateAdapterType}}
                          //td -
                          td
                            button.btn.btn-default.btn-sm(ng-click='Adapter.remove(adapter)')
                              | Remove




          #widgets.row(ng-switch-when='addDialog')
            .col-md-12
              .widget
                .inner
                  header: h2 Add a new dialog
                  section
                    form(role='form',
                    ng-submit='Dialog.add(dialog)')
                      .form-group
                        .input-group
                          input.form-control(type='text',
                          ng-model='dialog.form.name',
                          placeholder='Dialog name')
                      .form-group
                        .input-group
                          input.form-control(type='text',
                          ng-model='dialog.form.url',
                          placeholder='URL for dialog')
                      .form-group
                        button.btn.btn-default(type='button',
                        ng-click='Dialog.add(dialog)') Save dialog
                      a(ng-click='setSection("dialogs")') &nbsp; or go back to the list.




          #widgets.row(ng-switch-when='dialogs')
            .col-md-12
              .widget.widget-right
                .inner
                  header
                    h2 Dialogs
                    button.btn.btn-default(type='button',
                    ng-click='setSection("addDialog")') Add a dialog
                  section
                    .row
                      .col-md-3
                        p(ng-show='dialogs.length < 1')
                          | There are no dialogs yet. Please add one.
                        ul.nav.nav-pills.nav-stacked(ng-hide='dialogs.length < 1')
                          li(ng-repeat='_dialog in dialogs',
                          class='{{(_dialog.id == dialog.id) && "active"}}')
                            a(ng-click='Dialog.open(_dialog)') {{_dialog.name}}
                      .col-md-9(ng-show='dialogs.length < 1')
                      .col-md-9(ng-hide='dialogs.length < 1')
                        button.btn.btn-default.btn-danger.pull-right(ng-click='Dialog.remove(dialog)')
                          | Delete dialog
                        h5 URL
                        p {{dialog.url}}
                        form.form-inline(role='form')
                          .form-group
                            h5 Type
                            select.form-control(ng-model='channel.type',
                            ng-change='channelTypeSelected()')
                              option(ng-repeat='type in types',
                              value='{{type}}') {{type}}
                            span.help-block Please select a type first
                          .form-group(ng-hide='(channel.type == null)')
                            h5 adapter
                            span(ng-hide='candidates.length > 0')
                              | There are sadly no adapters for this one.
                            select.form-control(ng-model='channel.adapter',
                            ng-show='candidates.length > 0')
                              option(ng-repeat='candidate in candidates',
                              value='{{candidate.configId}}') {{candidate.myAddress}}
                            span.help-block Select the adapter
                          .form-group
                            button.btn.btn-default(type='button',
                            ng-click='Dialog.adapters.add(dialog)') Add a new channel
                        hr
                        h4 Channels
                        p(ng-hide='(adapters | filterAdapters: dialog).length > 0')
                          | There are no adapter added in this dialog yet.
                        table.table.table-bordered.table-hover(
                        ng-show='(adapters | filterAdapters: dialog).length > 0')
                          thead
                            tr
                              th Adapter
                              th Type
                              th Actions
                          tbody
                            tr(ng-repeat='adapter in adapters | filterAdapters: dialog')
                              th {{adapter | translateAdapterAddress}}
                              th {{adapter | translateAdapterType}}
                              th: a(ng-click='Dialog.adapters.remove(adapter)') Remove




          #widgets.row(ng-switch-when='debugger')
            .col-md-12
              .widget
                .inner
                  header: h2 Debugger
                  section
                    form.form-inline(role='form')
                      .form-group
                        label Adapter type:
                        select.form-control(ng-model='query.type',
                        ng-change='Log.categorize()')
                          option(value='ALL') All
                          option(value='GTALK') Gtalk
                          option(value='TWITTER') Twitter
                          option(value='PHONE') Phone
                          option(value='EMAIL') Email
                          option(value='SMS') SMS
                      .form-group(style='margin-left: 15px;')
                        label Severity level:
                        select.form-control(ng-model='query.severity',
                        ng-change='Log.severity()')
                          option(value='ALL') All
                          option(value='DEBUG') Debug
                          option(value='INFO') Info
                          option(value='WARNING') Warning
                          option(value='SEVERE') Severe
                      .form-group(style='margin-left: 15px;')
                        label Limit:
                        select.form-control(ng-model='query.limit',
                        ng-change='Log.list()')
                          option(value='100') 100
                          option(value='250') 250
                          option(value='500') 500
                          option(value='1000') 1000
                      .form-group
                        label Logs until
                        input.form-control(type='date',
                        ng-model='query.until',
                        ng-change='Log.period(this)')
                      .form-group
                        label Filter
                        input.form-control(type='text',
                        ng-model='queryLogs')
                      .form-group
                        label Show DDR:
                        .input-group
                          input.checkbox(type='checkbox',
                          ng-model='query.ddr')
                    hr
                    p(ng-hide='logs.length > 0 || (query.severity != "ALL")')
                      | Loading logs..
                    p(ng-hide='logs.length > 0 || (query.severity == "ALL")')
                      | Your query has no logs..
                    table.table.table-bordered.table-striped(ng-show='logs.length > 0')
                      thead
                        tr
                          th Time
                          th Level
                          th Adapter
                          th Type
                          th Message
                      tbody
                        tr(ng-repeat='log in logs | filter:queryLogs | orderBy: "timestamp" : true')
                          td {{log.timestamp | parseTimeStamp}}
                          td {{log.level}}
                          td {{log | translateAdapterAddress}}
                          td {{log | translateAdapterType}}
                          td {{log.message}}
